 body{
    font-family: Georgia,'Times New Roman', 'Times New Roman', Times, serif;
 }
 .nav-name{
    color: #304438;
    font-weight: 900;
    font-size: 28px;
    margin: 0 0 0 70px;
 }


 .nav-item{
    font-size: 10px;
 }

 .navbar-nav{
    margin: 0 0 0 100px;
 }

 .btn{
    background-color: #304438;
    color: white;
    margin: 0 70px 0 0;
 }

 .hero{
    background-image: url(office.jfif);
    padding: 100px 0 0 150px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
    color: whitesmoke;

 }